Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.uprojectdirs
.vs/
*.suo
*.user
*.userprefs
*.vcxproj.user
*.vcxproj.filters
*.VC.db
*.VC.opendb
.idea/
*.sln.iml
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
*.apk
*.ipa
*.app

Content/*